*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial, sans-serif;
}

.container{
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h1{
    margin-bottom: 20px;
    color: #333;
}

input,
select{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: #0056cc;
}

#result{
    margin-top: 20px;
    color: #222;
}